@charset "UTF-8";
@import "navbar.css";
@import "aboutus.css";
@import "footer.css";
@import url(content_style.css);
@import url(media.css);
* {
  font-family: "Montserrat", "Nanum Gothic", sans-serif;
  scroll-behavior: smooth;
}
body #section1,
body #section2,
footer {
  font-size: 20px;
}

body,
div,
span,
header,
section,
footer,
nav,
img,
form,
figcaption,
figure,
i,
p {
  margin: 0;
  padding: 0;
  border: 0;
}

body h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
ol,
header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body a:link {
  color: #eee;
  text-decoration: none;
}

body a:visited {
  color: #eee;
  text-decoration: none;
}

body a:hover {
  color: #eee;
  text-decoration: none;
}

main {
  display: #eee;
  flex-direction: column;
}

#section1,
#section2,
#section3,
#section4 {
  height: 100vh;
}

.content_wrapper {
  height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: center; /*수직축(flex direction의 축) 가운데 정렬*/
  align-items: center; /*수평축 가운데 정렬*/
}

.content_wrapper h1 {
  padding: 40px;
  line-height: 130%;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 10px #000;
}
.btn_about {
  border: 0;
  outline: 0;
  width: 150px;
  height: 50px;

  background-color: rgb(40, 40, 92);
  color: white;
}

.bg_image {
  border: 0;
  padding: 0;
  background-image: url(https://cdn.notefolio.net/img/d7/5b/d75bf02e2a35f76dba6ed5eeccde793c45d74edd83df838e31290603ceb5c5c9_v1.jpg);
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
}

.content_wrapper_2 {
  display: grid;
  grid-template-columns: 250px 350px;
  grid-template-rows: auto 150px 30px 50px auto;
  gap: 20px;
  justify-content: center;
  height: 100%;
  margin: auto 0;
}

.title_about {
  align-self: end;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.profile_img {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 5;
}

.about_desc {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 10px;
}

.title_skills {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.skills {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.btn_contact {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

.title_about h1 {
  padding-bottom: 20px;
}

.profile {
  width: 250px;
  border-radius: 50%;
}

.title_skills h2 {
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
}

.skills ul li {
  display: inline;
  padding: 10px;
}

.btn_contact {
  padding: 10px;
}

body,
div,
span,
header,
section,
footer,
nav,
img,
form,
figcaption,
figure,
i,
p {
  margin: 0;
  padding: 0;
  border: 0;
}

body h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nanum Gothic";
  font-weight: normal;
  line-height: 100%;
  margin: 15px;
}

ol,
header ul,
div ul {
  list-style: none;
  padding: 5px;
  margin: 0;
  color: rgb(131, 17, 207);
}
.content_btn li {
  color: rgb(131, 17, 207);
}

body a:link {
  color: #aaa;
  text-decoration: none;
}
body a:visited {
  color: #ccc;
  text-decoration: none;
}

/* header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
}

.active {
  background-color: white;
  transition-duration: 0.5s;
  transition-timing-function: ease;

  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
}

.deactive {
  background-color: transparent;
  transition-duration: 0.5s;
  transition-timing-function: ease;

  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
}
nav,
.icons {
  padding: 20px;
}

nav ul li {
  display: inline-block;
  padding: 0 10px;
}

body #section1 {
  background-color: rgb(255, 255, 255);
}

body #section2 {
  background-color: #e1dfdf;
}

body #section3 {
  background-color: #dbdbdb;
}

section {
  width: 80vw;
  padding: 10vw;
  padding-top: 50vh;
}

html body #section3 {
  font-size: 10px;
}

#section3 h1 {
  color: rgb(0, 0, 0);

  text-decoration: none;
}
/*Extra small devices*/
@media screen and (min-width: 200px) and (max-width: 499px) {
  .destinations-container {
    justify-content: center;
    flex-wrap: wrap;
  }
}

/*Small devices and Tablets*/
@media screen and (min-width: 500px) and (max-width: 767.98px) {
  .destinations-container {
    margin: 5vh 10vw 0 10vw;
  }
}
